@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
body {
    @apply min-h-screen bg-[#FAFAFA];
}

body.dark {
    @apply bg-[#383838];
}

.shadowCardAuth {
    box-shadow: 0 0 24px 0 rgba(8, 23, 53, 0.16);
}

/* For headings with greater font size and uppercase */
.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
    font-size: 2rem; 
    text-transform: uppercase;
    margin-bottom: 1.5rem; 
}

/* For increased spacing between elements - AI CODE REVIEW SECTION  */
.prose p {
    margin-bottom: 1.2rem; 
}

.prose ul,
.prose ol {
    margin-bottom: 1.5rem;
}

.prose blockquote {
    margin-bottom: 1.5rem;
}

/* For code snippet with a different color */
/* For code in light mode */
.prose code {
    background-color: #f4f4f4;
    color: #d9534f; 
    padding: 0.2rem 0.4rem; 
    border-radius: 4px; 
}

/* For code in dark mode */
.dark .prose code {
    background-color: #383838; 
    color: #d9534f; 
}
